name: smart_student_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # ← AJOUTÉES ICI
  retrofit: ^4.0.1
  dio: ^5.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

  # ← AJOUTÉES ICI
  retrofit_generator: ^10.0.1
  build_runner: ^2.4.0

flutter:
  uses-material-design: true
assets:
  - assets/images/khalid.jpg